<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <ul class="list-unstyled">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" rel="me">GitHub</a>
          </li>
          {% endif %}
          {% if site.gitlab_username %}
          <li>
            <a href="https://gitlab.com/{{ site.github_username }}" rel="me">GitLab</a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" rel="me">Twitter</a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li>
            <a href="http://de.linkedin.com/in/{{ site.linkedin_username }}" rel="me">LinkedIn</a>
          </li>
          {% endif %}
          {% if site.xing_username %}
          <li>
            <a href="https://www.xing.com/profile/{{ site.xing_username }}" rel="me">XING</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        <p>{{ site.description }}</p>
        <a href="/imprint/">Impressum</a>
      </div>
    </div>
  </div>
</footer>
