.row,
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
  @media screen and (max-width: $on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.row {
  .col-sm-6,
  .col-xs-12 {
    display: inline-block;
    float: left;
  }

  .col-xs-12 {
    width: 100%;
  }

  .col-sm-6 {
    width: 50%;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
