// lists
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol,
ul {
  margin-bottom: 1rem;

  li {
    margin-left: 1.125rem;
    // nested lists should not have margin bottom
    ol,
    ul {
      margin-bottom: 0;
    }
  }
}

ol,
ul {
  &.list-unstyled {
    margin-bottom: 0;
    list-style-type: none;

    &,
    li {
      margin: 0;
      padding: 0;
    }
  }

  &.list-inline {
    margin-bottom: 0;
    li {
      display: inline-block;
      margin: 0;
    }
  }
}


// definition lists
dl {
  > dt {
    @extend strong;
  }
}
