---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% if author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{author.name}}</span></span> at
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y %H:%m" }}</time>
      {% include taglist.html tags=page.tags %}
    </p>
  </header>
  <div class="row">
    <div class="col-sm-9 post-content" itemprop="articleBody">
      {{ content }}
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</article>
