---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% if author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{author.name}}</span></span> at
      {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y %H:%m" }}</time>
      {% include taglist.html tags=page.tags %}
    </p>
  </header>
  <div class="row">
    <div class="col-sm-9 post-content" itemprop="articleBody">
      {{ content }}
    </div>
    {% if page.comments %}
    <div class="col-sm-9">
      <h1>Comments</h1>
      <div id="disqus_thread"></div>
      <script>
      var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ post.url }}';
        this.page.identifier = 'marceleichner-de';
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//marceleichner-de.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
    </div>
    {% endif %}
    <div class="col-sm-3">
    </div>
  </div>
</article>
